<h1 class="movie_title">
  <%= @movie.title %>
</h1>

<h2 class="movie_content">
  <%= @movie.content %>
</h2>


<%= link_to movie_favorite_path(@movie), data: { method: 'post' } do %>
  <div class="fovorite_btn">
    fovorite
  </div>
<% end %>

